<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <title>Star Wars Episode V: The Empire Strikes Back</title>
</head>
<body>
<h1 th:text="'Episode '+ ${episodeVdetails.episodeId} + ': ' + ${episodeVdetails.title}">Title</h1>
<h3 th:text="${episodeVdetails.openingCrawl}">Opening Crawl</h3>

<div th:each="MovieCharacters : ${movieCharacterObjects}">

    <form action="characterdetails.html" method="get">
        <input th:value="${MovieCharacters.name}" type="submit">
        <input name="url" th:value="${MovieCharacters.url}" type="hidden"/>
    </form>

</div>
</body>
</html>